.link {
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2rem;
  color: #525b75;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  font-size: 0.9em;
}

.link:hover {
  background-color: #eff2f6;
}

.link.active {
  color: #3c75f9;
  /* color: #9fab40; */
}
