.sidebar {
  width: 64px;
  background-color: #ffffff;
  color: #525b75;
  transition: width 0.2s ease-in-out;
  flex-shrink: 0;
  position: sticky;
  left: 0;
  max-height: 100vh;
  overflow-y: auto;
  z-index: z-30;
}

.sidebar.expanded {
  width: 290px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
